<?xml version="1.0"?>
<config>
    <modules>
        <Takascoin_Takascoin>
            <version>0.1.0</version>
        </Takascoin_Takascoin>
    </modules>
	<frontend>
        <routers>
            <Takascoin_Takascoin>
                <use>standard</use>
                <args>
                    <module>Takascoin_Takascoin</module>
                    <frontName>takascoin_takascoin</frontName>
                </args>
            </Takascoin_Takascoin>
        </routers>
    </frontend>
    <global>
        <blocks>
            <Takascoin>
                <class>Takascoin_Takascoin_Block</class>
            </Takascoin>
        </blocks>

        <models>
            <Takascoin>
                <class>Takascoin_Takascoin_Model</class>
            </Takascoin>
        </models>
        <helpers>
            <Takascoin>
                <class>Takascoin_Takascoin_Helper</class>
            </Takascoin>
        </helpers>
        <resources>
            <Takascoin_setup>
                <setup>
                    <module>Takascoin_Takascoin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Takascoin_setup>
            <Takascoin_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </Takascoin_write>
            <Takascoin_read>
               <connection>
                <use>core_read</use>
              </connection>
            </Takascoin_read>
        </resources>
    </global>

    <default>
        <payment>
            <Takascoin>
                <active>1</active>
                <model>Takascoin/paymentMethod</model>
                <title>Bitcoin</title>
                <payment_action>authorize</payment_action>
                <secret></secret>
            </Takascoin>
         </payment>
    </default>
</config>
